<!DOCTYPE html>
<html>
  <head>
    <title>Rorone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar fixed-top navbar-light bg-light navbar-expand">
      <a class="navbar-brand" href="/">DiversityEDU</a>
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/courses">Courses</a>
        <a class="nav-item nav-link" href="/users">Users</a>
      </div>
      <% if current_user %>
        <div class="navbar-text">
          <%= current_user.email %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </div>
      <% end %>
    </nav>
    <div style="height: 60px"></div>

    <% if notice %> <div class="alert alert-success"><%= notice %></div> <% end %>
    <% if alert %> <div class="alert alert-warning"><%= alert %></div> <% end %>

    <%= yield %>

  </body>
</html>
